<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TWagstaff Coding Challenge Submission</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/css.css') }}">
</head>
<body>
    
    {% if error %}
        <div class="error">
            {{ error }}
        </div>    
    {% endif %}

    <h3><i>Weather Data Reporting Tool</i></h3>
    
    <form action="/sensors" method="POST">
        <h4><i>Add a Sensor</i></h4>
        <div id="addSensorBox">
            <label for="sensor-id">Sensor Id: </label>
            <input name="sensor-id" id="sensor-id" type="text" placeholder="Sensor Id...">
            <label for="sensor-location">Sensor Location: </label>
            <input name="sensor-location" id="sensor-location" type="text" placeholder="Sensor Location...">
            <label for="sensor-region">Sensor Region: </label>
            <input name="sensor-region" id="sensor-region" type="text" placeholder="Sensor Region...">
            <label for="sensor-country">Sensor Country: </label>
            <input name="sensor-country" id="sensor-country" type="text" placeholder="Sensor Country...">
            <input type="submit" value="Add Sensor">
        </div>
    </form>

    <h4><i>Active Sensors</i></h4>
    <table>
        <tr>
            <th>ID</th>
            <th>Location</th>
            <th>Region</th>
            <th>Country</th>
            <th>Date Created</th>
            <th>Delete</th>
        </tr>
        {% for sensor in sensors %}
            <tr>
                <td>{{sensor.id}}</td>
                <td>{{sensor.location}}</td>
                <td>{{sensor.region}}</td>
                <td>{{sensor.country}}</td>
                <td>{{sensor.date_created}}</td>
                <td><a href="/delete-sensor/{{sensor.id}}">Delete</a></td>
            </tr>
        {% endfor %}
    </table>

    <form action="/data" method="POST">
        <h4><i>Add Sensor Data</i></h4>
        <div id="addDataBox">
            <label for="sensor-id">Sensor Id: </label>
            <input name="sensor-id" id="sensor-id" type="text" placeholder="Sensor Id...">
            <label for="temp">Temparature: </label>
            <input name="temp" id="temp" type="text" placeholder="Temparature...">
            <label for="humidity">Humidity: </label>
            <input name="humidity" id="humidity" type="text" placeholder="Humidity...">
            <label for="wind">Wind Speed: </label>
            <input name="wind" id="wind" type="text" placeholder="Wind Speed...">
            <label for="wind-dir">Wind Direction: </label>
            <input name="wind-dir" id="wind-dir" type="text" placeholder="Wind Direction...">
            <label for="precip">Precipitation Type: </label>
            <input name="precip" id="precip" type="text" placeholder="Precipitation Type...">
            <label for="precip-q">Precipitation Rate: </label>
            <input name="precip-q" id="precip-q" type="text" placeholder="Precipitation Rate...">
            <input type="submit" value="Add Sensor Data">
        </div>
    </form>

    <h4><i>Sensor Data</i></h4>
    <table>
        <tr>
            <th>Data Id</th>
            <th>Sensor Id</th>
            <th>DateTime Taken</th>
            <th>Temperature (C)</th>
            <th>Humidity (%)</th>
            <th>Wind Speed (km/h)</th>
            <th>Wind Direction</th>
            <th>Precipitation Type</th>
            <th>Precipitation Rate (mm/hr)</th>
            <th>Delete</th>

        </tr>
        {% for data in sensor_data %}
            <tr>
                <td>{{data.id}}</td>
                <td>{{data.sensor_id}}</td>
                <td>{{data.date_time}}</td>
                <td>{{data.temperature}}</td>
                <td>{{data.humidity}}</td>
                <td>{{data.wind_speed}}</td>
                <td>{{data.wind_direction}}</td>
                <td>{{data.precipitation_type}}</td>
                <td>{{data.precipitation_rate}}</td>
                <td><a href="/delete-data/{{data.id}}">Delete</a></td>
            </tr>
        {% endfor %}
    </table>

    <h4><i>Query Parameters</i></h4>
    Show me the 
    <select id="metric1">
        <option value="max">Maximum</option>
        <option value="min">Minimum</option>
        <option value="mean">Mean</option>
    </select>
    <select id="metric2">
        <option value="temp">Temperature</option>
        <option value="humidity">Humidity</option>
        <option value="wind-speed">Wind Speed</option>
        <option value="percipitation">Percipitation Rate</option>
    </select>
    in
    <select id="location">
        <option value="galway">Galway</option>
        <option value="mayo">Mayo</option>
        <option value="ireland">Ireland</option>
        <option value="marrakesh">Marrakesh</option>
    </select>
    from
    <input type="date" id="from" value="2023-01-22"></input>
    to
    <input type="date" id="to" value="2023-01-23"></input>
    

    <h4><i>Query Results</i></h4>
    <br><br>
    <div id="result-space"></div>
    <script src="{{url_for('static', filename='js/js.js')}}"></script>
</body>
</html>